<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My First App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div class="ion-padding">

    <ion-item>
      <ion-label position="floating">Student Score</ion-label>
      <ion-input [(ngModel)]="myScore"></ion-input>
    </ion-item>
    
    <p class="defaultText" *ngIf="grade">Your score is {{ myScore }} and your grade is {{ grade }}</p>

    <ion-button (click)="btnClick()">Check Grade</ion-button>

  </div>


  <div class="ion-padding">

    <h1>SST Calculator</h1>

    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input [(ngModel)]="price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">SST Rate (%)</ion-label>
      <ion-input [(ngModel)]="sst" placeholder="i.e 6.0"></ion-input>
    </ion-item>
    
    <p class="defaultText" *ngIf="finalPrice">SST Amount is {{ convertValue(sstRate) }}. The final price is {{ convertValue(finalPrice) }}</p>

    <ion-button (click)="calculateSST()">Check SST</ion-button>

  </div>
  
</ion-content>
